@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    CT2A, Khu do thi Xa La<br />
    Ha dong, Ha Noi<br />
    <abbr title="Phone">My Phone:</abbr>
    0969.055.708
</address>

<address>
    <strong>My Mail</strong>   <a href="mailto:nguyenducmanhmmo@gmail.com">nguyenducmanhmmo@gmail.com</a><br />
    <strong>Please Mail For Us</strong>
</address>