@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to Our Tech SHopping</h1>
<h2>We can help you find the best gadgets.</h2>
<p class="lead">
    We're all about tech gadgets. You can order anything of our stock today. 
    If you want to connect to us the fastest way, call the hotline right now.
    We will give you the best thing so don't be shy. Click <a href="/Product/List">Product</a> to see our products.
</p>
